{% extends "layout/basic.html" %}
{% load static %}
{% block net %}

<div class="about-section">
    <div class="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1294.8490572687936!2d76.8931417167427!3d43.23385837666723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836eeeb3600115%3A0x3be664cefb2ff5b6!2sAVSHOP!5e0!3m2!1sru!2skz!4v1706110234938!5m2!1sru!2skz"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="about-text">
        <h1>About Us</h1>
        <p>
            Providing our clients with exactly what they want and when they
            want it are the core values that Royal Cars was built on.
        </p>
        <p>
            We have the largest fleet of luxury hire cars in Almaty and each vehicle has been
            expertly serviced and maintained to ensure your experience is exceptional and unrivalled.
        </p>
    </div>
</div>

<h2 class="team-title">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="{% static 'bboard/6.jpg' %}" alt="Jane">
            <div class="container32">
                <h2>Daniyal Khamidi</h2>
                <p class="title">CEO &amp; Founder</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex expedita exercitationem quam odit illum a tenetur sit perferendis, harum adipisci magnam ut sapiente eum provident accusamus.</p>
                <hr>
                <p>Daniyal@example.com</p>
                <p><button class="btn-contact">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="{% static 'bboard/Lamborghini-Aventador-1030x561.jpg' %}" alt="Mike">
            <div class="container32">
                <h2>Doudikouv Ivoun</h2>
                <p class="title">Seller</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi fugiat, dolores nisi ipsum ullam possimus iusto rerum, totam pariatur culpa atque accusantium tempore.</p>
                <hr>
                <p>Ivoun@example.com</p>
                <p><button class="btn-contact">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="{% static 'bboard/ferrari_296_gt3_2022_4k_8k_4-5120x2880.jpg' %}" alt="John">
            <div class="container32">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eos excepturi at et tempore dolorum ea rerum possimus beatae vel neque, molestiae ratione praesentium.</p>
                <hr>
                <p>john@example.com</p>
                <p><button class="btn-contact">Contact</button></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
