{% extends "layout/basic.html" %}

{% block net %}
    <div class="modal-content">
    <p>Рубрика: {{ bb.rubric.name }}</p>
    <h2>{{ bb.title }}</h2>

    <p>{{ bb.content }}</p>
{% if bb.photo %}
    <p><img class="imgindetail" src="{{bb.photo.url}}"></p>
{% endif %}
    <p>Цена: {{ bb.price|default:'У товара нет цены' }} тг.</p>
    <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
    <p>{% if perms.catalog.can_create %}
        <a href="{% url 'bboard:update' bb.pk %}" class="btn btn-primary">Изменить</a> |
        <a href="{% url 'bboard:delete' bb.pk %}" class="btn btn-primary">Удалить</a>
        {% endif %}
    </p>
    </div>
{% endblock %}
