{% extends "layout/basic.html" %}
{% load static %}
{% block content %}
    <div class="rubrics">
<h1>НАШИ БРЕНДЫ</h1>
{% for rubric in rubrics %}
    {% if rubric.photo %}
        <div class="b1 no-text">
            <a href="{{ rubric.get_absolute_url }}" class="clickable-div">
                <p class="text-on-top">
                    <img class="imginindex" src="{{ rubric.photo.url }}">
                </p>
            </a>
        </div>
    {% endif %}
{% endfor %}

    </div>
{% endblock %}