{% extends "layout/basic.html" %}


{% block content %}
<h2>{{ current_rubric }}</h2>
    {% for bb in bbs %}
    <div class="rubrica">
        {% url 'bboard:detail' bb.pk as detail_url %}
        <h2>
            <a href="{{ detail_url }}">{{ bb.title }}</a>
        </h2>

        {% if bb.photo %}
            <p><img class="imgindetail" src="{{bb.photo.url}}"></p>
        {% endif %}
        {% if perms.catalog.can_create %}
        <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
        {% endif %}
        <p><a href="{{ detail_url }}" class="btn btn-primary">Подробнее</a></p>
    </div>
    {% empty %}
        <h2>Распродано</h2>
    {% endfor %}
{% endblock %}
{% block da %}
    <div class="paginator">
        {% if page.has_other_pages %}
        <nav aria-label="pagination" class="pagination">
            <ul class="pagination">

                {% if page.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page.previous_page_number }}"> < </a>
                    </li>
                {% endif %}

                {% for p in page.paginator.page_range %}
                    {% if not p == page.number %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% else %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link disabled bg-primary text-light"
                               href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page.next_page_number }}"> > </a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </div>


    {% endif %}
    {% endblock %}
