{% extends "layout/basic.html" %}
{% load static %}
{% block net %}
<div class="slider">
            <img src="{% static 'bboard/lamborghini-centenario-side-uhd-4k-wallpaper.jpg' %}">
            <img src="{% static 'bboard/2020_porsche_911_25.jpg' %}">
            <img src="{% static 'bboard/ferrari_296_gt3_2022_4k_8k_4-5120x2880.jpg' %}">
            <img src="{% static 'bboard/bugatti-divo-side-uhd-4k-wallpaper.jpg' %}">
          </div>
<div class="centered2" id="text_cl"><h1>YOUR DREAM CAR</h1><h3>IS WAITING</h3></div>
{% endblock %}
{% block rubrics %}
{% block content %}
<h1>НАШИ САМЫЕ ПОПУЛЯРНЫЕ БРЕНДЫ</h1>

        {% for rubric in rubrics %}
            <div class="b1">
                            {% if rubric.photo %}
            <a href="{{ rubric.get_absolute_url }}" class="clickable-div">

            <p class="text-on-top"><img class="imginindex" src="{{rubric.photo.url}}"></p>
        {% endif %}

    </a></div>
{% endfor %}

{% endblock %}
{% endblock %}


