{% extends "layout/basic.html" %}


{% block content %}
{% for rubric in rubrics %}
    <h2>{{rubric.name}}</h2>
            <div class="b1">
            <a href="{{ rubric.get_absolute_url }}" class="clickable-div">
            {% if rubric.photo %}
            <p class="text-on-top"><img class="imginindex" src="{{rubric.photo.url}}"></p>
        {% endif %}

    </a>
        <p><a href="{% url 'bboard:edit_rubric' rubric.pk %}" class="btn btn-primary">Изменить</a>
            <a href="{{ rubric.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
            </a></p>
    </div>
    {% empty %}
        <h2>Рубрик нет</h2>
    {% endfor %}
{% endblock %}
