{% extends "layout/basic.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="rubrics">
        <h2 class="form-title">Восстановление пароля</h2>
<div class="form-container">

    <p class="form-info">
        Введите ваш email, и мы отправим вам ссылку для сброса пароля.
    </p>

    <form method="post" class="styled-form">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-actions">
            <button type="submit" class="btn-primary">Восстановить пароль</button>
        </div>
    </form>
</div>
</div>
{% endblock %}
