<div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>компания</h4>
                    <ul>
                        <li><a href="{% url 'bboard:index' %}">Главная</a></li>
                        <li><a href="">О нас</a></li>
                        <li><a href="">Наши сервисы</a></li>
                        <li><a href="">Политика</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>помощь</h4>
                    <ul>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Отправка</a>
                        </li><li><a href="">Возврат</a></li>
                        <li><a href="">Оплата</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>магазин</h4>
                    <ul>
                        <li><a href="{% url 'bboard:rubrics' %}">Бренды</a></li>
                        <li><a href="">Аксессуары</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>соц сети</h4>
                    <div class="social-links">
                        <a href="#"><img src="icons8-facebook-100.png" alt=""></a>
                        <a href="#"><img src="icons8-instagram-100.png" alt=""></a>
                        <a href="#"><img src="icons8-линкедин-100.png" alt=""></a>
                        <a href="#"><img src="icons8-твиттер-100.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
