{% load static%}
<div class="header">
    <div class="inner_header">
        <div class="nav">
            <a href="{% url 'bboard:index' %}"><li>Главная</li></a>
            <a href="{% url 'bboard:about' %}"><li>О нас</li></a>
            {% if user.is_anonymous %}
            {% else %}
            {% if perms.catalog.can_create %}
        <a href="{% url 'bboard:add' %}"><li>Добавить объявление</li></a>
        <a href="{% url 'bboard:addrub' %}"><li>Добавить рубрику</li></a>
            <a href="{% url 'bboard:rubrics' %}"><li>Рубрики</li></a>
            {% endif %}
            {% endif %}
            <form action="{% url 'bboard:search' %}" method="get" class="search">
                <input type="search" placeholder="Поиск..." name="q" required="">
                <button class='submit' type="submit" >
                    <span aria-hidden="true"><img src="{% static 'bboard/icons8-поиск-100.png'%}" alt=""></span>
                </button>
            </form>
{% if user.is_anonymous %}
    <a href="{% url 'login' %}"><li>Войти</li></a>
    <a href="{% url 'register' %}"><li>Регистрация</li></a>
{% else %}
    <a href="{% url 'profile' %}"><li>{{ user.username }}</li></a>
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" style="background:none; border:none; cursor:pointer; text-decoration:none;height: 100%;
    float: left;
    display: table;
    padding: 0 20px;">
            <li>Выйти</li>
        </button>
    </form>
{% endif %}
        </div>
    </div>
</div>
