<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} :: Доска объявлений</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'bboard/style.css' %}">


</head>
<body>
{% include 'layout/inc/main_menu.html' %}
{% include 'layout/inc/rubrics_menu.html' %}

{% block net %}

{% endblock %}

<div class="rubrics">
    {% block content %}

    {% endblock %}
    {% block da %}

    {% endblock %}
</div>
{% include 'layout/inc/footer.html' %}
{% bootstrap_javascript %}
</body>
</html>
