<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} :: Доска объявлений</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'bboard/style.css' %}">


</head>
<body>
{% include 'layout/inc/main_menu.html' %}
{% if messages %}
    {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<main>
    {% block net %}{% endblock %}
        {% block content %}{% endblock %}
        {% block da %}{% endblock %}
</main>

{% include 'layout/inc/footer.html' %}
{% bootstrap_javascript %}
<script>
   var imgs = document.querySelectorAll('.slider img');
   var currentImg = 0;
   const interval = 2000;
   function changeSlide() {
       imgs.forEach(img => img.classList.remove('active'));
       currentImg = (currentImg + 1) % imgs.length;
       imgs[currentImg].classList.add('active');
   }
   setInterval(changeSlide, interval);
</script>
</body>
</html>